<app-header></app-header>
<h1>Angular Services</h1>
<app-e-info></app-e-info>

<hr>

<h1>Angular Lifecycle Hooks</h1>
<div class="center">
    <button (click)="decrement()">Subtract</button>

    <!-- binding the child property of 'myNewNumber' with parent function of counter -->
    <app-child *ngIf="isVisible" [myNewNumber] = "counter" [myNewName] = "user"></app-child>

    <button (click)="increment()">Addition</button>
    <br>
    <a (click) = "updateName()">Update Name</a>
    <br>
    <button (click)="switchVisibility()">show/hide</button>
</div>

